---
layout: default
---

<!-- Gallery App -->
<div class="gallery-app" data-project="{{ page.gallery.project }}" data-gal-selection="false">
    
    <!-- Container for Thumbs of First Page -->
    <div class="container photos loading"></div>
    <div class="stopper"></div>
    <!-- End Container Thumbs -->

    <!-- Slider -->
    <div class="slider">
        <div class="tray">
            <div id="prev" class="photo prev"></div>
            <div id="current" class="photo current"></div>
            <div id="next" class="photo next"></div>
            <a class="nav prev" title="[<-] previous"></a>
            <a class="nav next" title="next [->]"></a>
            <div class="close_button" title="close the slider [ESC]">
                <div class="svg-icon">
                    <span style="background-image: url('images/icon-cross.png');">
                        <img src="images/icon-cross.svg">
                    </span>
                </div>
            </div>
            <div class="cockpit">
                <div class="cockpit_body"></div>
                <div class="cockpit_button">
                    <div class="menu_icon svg-icon">
                        <span style="background-image: url('images/icon-menu.png');">
                            <img src="images/icon-menu.svg">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Slider -->

    <script type="text/html" id="template-thumb">
      <div class="photo loading" id="<%= img.get('digest') %>">
          <img src="<%= img.getThumb().src %>"/>
          <span class="selector"></div>
      </div>
    </script>

    <script type="text/html" id="template-cockpitBody">
      <div>
          <span class="line index">
            <%= img.index()+1 %> / <%= img.collection.length %>
          </span>
          <span class="line filename">
            <%= img.get('meta') && img.get('meta').title || img.get('filenameOrig') %>
        </span>
      </div>
    </script>
</div>
<!-- End Gallery App -->
